{{#partial "title"}}

{{/partial}}

{{#partial "content"}}
    <div class="col-md-1"></div>
    <div class="card col-md-10" style="margin-top: 40px">
        <p class="card-title" id="hero-text">Welcome to Heroes and Squads!!!</p>
        <p class="card-text" id="text-squads"> Create Heroes and add them to Squads as you wish!!</p>
        <a href="/squads/new" class="btn btn-outline-success col-md-6"> Create squad</a>
        <br>
    </div>

{{/partial}}

{{> layout.hbs}}