{{#partial "content"}}
    <div class="card col-lg-8">
        <img src="images/giphy.gif" class="card-img-top">
        <p class="card-text" id="hero-text">You have successfully created a squad</p>
    </div>
    
    <a href="/squads" class="btn btn-outline-success"> view squads </a>
{{/partial}}

{{> layout.hbs}}