{{#partial "content"}}
            <div class="card col-lg-8">
                <img src="https://samuelokoth.github.io/PORTFOLIO-LANDINGPAGE/samuelo.jpg" class="card-img-top" alt="card image" width="40px" height="400px">
                <p class="card-text" id="success">You have successfully created a hero</p>
                <p class="card-text" id="success">Would you like to:</p>
                <div class="card-footer">
                    <a href="/heroes" class="btn btn-lg btn-success">View heroes</a>
                    <a href="/heroes/new" class="btn btn-lg btn-primary">Add new hero</a>
                </div>
            </div>



{{/partial}}

{{> layout.hbs}}